<h3>Add task</h3>
<form method="post" action="/Home/AddToDo">
    <div>
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title" value="" required />
    </div>
    <button type="submit">Add</button>
</form>
<h3>Add task</h3>
<form method="post" action="/Home/AddToDo">
    <div>
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title" value="" required />
    </div>
    <button type="submit">Add</button>
</form>

