@model List<TODO_list.Models.TodoItem>
@using TODO_list.Extensions

@await Html.PartialAsync("_ListPartial")


<form style="margin-bottom:300px"> </form>

@await Html.PartialAsync("_AddTaskPartial")








