@model List<TODO_list.Models.TodoItem>
@using TODO_list.Extensions




@await Html.PartialAsync("_ListPartial")




@await Html.PartialAsync("_AddTaskPartial")



<form style="margin-bottom:300px"> </form>




