@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This <a asp-controller="Home" asp-action="Index">TODO list</a> is very very private</p>
<div style="font-family:Consolas">Your data is <bold>100%</bold> safe</div>


