html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.small-button { /* Used in the remove button*/
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 4px;
    cursor: pointer;
    block-size: min-content;
}

.main-heading { /* Used in the heading of the app, for people to not forget where they are*/
    color: mediumslateblue;
    font-weight: 400;
    margin-bottom: 1rem;    
}

.todo-list { 
    cursor:default;
    list-style-type:none; 
    
}

body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}

.navbar.dark-theme {
    background-color: #222;
    color: white;
    
}

.container-dark-theme {
    background-color: #;
    color: white;
}