@using TODO_list.Extensions
@inject TODO_list.Models.TodoContext _context
@model List<TODO_list.Models.Settings>





<h1>Settings</h1>

@if (!Model.Any())
{
    <div> No settings available </div>
}
<ul>
    @foreach (var setting in Model)
    {
        <li class="todo-list">
            <form asp-controller = "Settings" asp-action="ToggleSetting" method="post" style="display:inline;">
                <input type="hidden" name="Id" value="@setting.Id" />
                <input type="checkbox" name="IsOn" onchange="this.form.submit()" @(setting.IsOn ? "checked" : "") />
                @setting.Title - @ToDoExtensions.GetStatusSettings(setting)
            </form>
        </li>
    }
</ul>

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<script src="site.js" </script>
<canvas id="confetti"> </canvas>